﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index1212590</title>
</head>
<body>
    <div> 
        <h2>Trang chủ</h2>
        <hr />
        @using (Html.BeginForm("Logout", "Auth"))
        {
            <input type="submit" value="Logout" />
        }
    </div>
</body>
</html>
