﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index1212590</title>
</head>
<body>
    <div> 
        <h2>Thông tin thành viên Group D</h2>
        <hr />
        <table border="1" style="text-align:center">
            <tr>
                <th style="width:100px">MSSV</th>
                <th style="width:150px">Họ tên</th>
            </tr>
            <tr>
                <td>1212121</td>
                <td>Hồ Đức Hiếu</td>
            </tr>
            <tr>
                <td>1212172</td>
                <td>Phan Quốc Khánh</td>
            </tr>
            <tr>
                <td>1212433</td>
                <td>Lê Phạm Ngọc Trâm</td>
            </tr>
            <tr>
                <td>1212454</td>
                <td>Nguyễn Việt Trung</td>
            </tr>
            <tr>
                <td>1212481</td>
                <td>Phan Thanh Tuấn</td>
            </tr>
            <tr>
                <td>1212590</td>
                <td>Lê Khánh Sơn</td>
            </tr>
        </table>
        <hr />
        @using (Html.BeginForm("Logout1212590", "Auth"))
        {
            <input type="submit" value="Logout" />
        }
    </div>
</body>
</html>
