﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserByID1212590</title>
</head>
<body>
    <div> 
        <h2>Thông tin sinh viên</h2>
        <hr />

        @{
            if (ViewBag.MSSV != null)
            {
                <ul>
                    <li>MSSV: @ViewBag.MSSV</li>
                    <li>Họ tên: @ViewBag.HoTen</li>
                </ul>
            }
            else
            {
                <h3>@ViewBag.Error</h3>
            }
        }

        <hr />
        @using (Html.BeginForm("Logout1212590", "Auth"))
        {
            <input type="submit" value="Logout" />
        }
    </div>
</body>
</html>
