﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login1212590</title>
</head>
<body>
    <div> 
        <h2>Login</h2>
        <hr />
        @using (Html.BeginForm("CheckLogin1212590", "Auth", FormMethod.Post))
        {
            <table>
                <tr>
                    <td>Username:</td>
                    <td>@Html.TextBox("Username", null, new { required = "required" })</td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td>@Html.Password("Password", null, new { required = "required" })</td>
                </tr>
                <tr>
                    <td></td>
                    <td><center><input type="submit" value="Login" style="width:7em" /></center></td>
                </tr>
            </table>
        }
    </div>
</body>
</html>
